:root {
    
    font-family: "Montserrat", sans-serif !important;
    
  }

  .wrapper {
    min-width: 98vw;
  }
.card-title {
  font-size: .8rem;
}
  .container {
    width: 90vw;
  }
  .card-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }
.card5day{
  min-height: 40vh;
}
  body {
  background: linear-gradient(
        180deg,
        rgba(116, 0, 186, 0.9) 0%,
        rgba(62, 0, 164, 0.894469) 61.46%,
        rgba(2, 0, 140, 0.9) 100%
      ) !important;
      height: 100vh;
  }

h3, h4 {
    color: white;
}
.display-4 {
color: #ffffff;
text-align: center;
font-size: 40px;
font-weight: 600;
padding-top: 10px;
margin: 0 auto;
}

  /*UV INDEX COLORS */

span.high {
    padding: 4px;
    background-color: rgb(175, 30, 14);
    color: white;
    border-radius: 5px;
  }
  
  span.OK {
    padding: 4px;
    background-color: goldenrod;
    border-radius: 5px;
  }
  
  span.low {
    padding: 4px;
    background-color: rgb(21, 147, 21);
    color: white;
    border-radius: 5px;
  }
  