:root {
  font-family: "Montserrat", sans-serif !important;
  color: #ffffff;
  font-weight: 600;
}

.card {
  background: rgba(15, 11, 11, 0.38);
  border-radius: 15px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1.8vh;
  padding-right: 1vh;
  margin: 3px;
}

img {
  width:3vw;

}
.btn {
  background-color: #9A67F9 !important;
  color: white;
  border-radius: 5px;
  border: white;
  width: fit-content;
}

.form-input {
  max-width: 8vw;
}

.p {
  font-size: smaller;
}

h3 {
  margin-left: 1.2vw;
  padding-top: .5vw;
}

.col-sm-2 .card {
  padding-top: 1vh;
}

.todayBlock {
  margin-left: 1vw;
  padding-left: 2vw;
  display: flex;
  flex-grow: inherit;
}

.card-title {
  font-size: .8rem;
}

.container {
  width: 90vw;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.card5day {
  min-height: 40vh;
}

body {
  background:
     linear-gradient(180deg, #FD986B 0%, #9A67F9 100%) !important;
  background-repeat: no-repeat;
  height: 100vh;
}

p,
h3,
h4,
h5,
h6 {
  color: white;
}

.display-4 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 10px;
  margin: 0 auto;
}

/*UV INDEX COLORS */
.high {
  padding: 4px;
  background-color: rgb(175, 30, 14);
  color: white;
  border-radius: 5px;
}

.ok {
  padding: 4px;
  background-color: goldenrod;
  border-radius: 5px;
}

.low {
  padding: 4px;
  background-color: rgb(21, 147, 21);
  color: white;
  border-radius: 5px;
}